################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/newstash/FileContentIndex
/.vs/newstash/v17
